<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Announce</title>
    <link rel="stylesheet" type="text/css" media="screen" href='https://unpkg.com/sakura.css/css/sakura.css' >
    <script src="https://unpkg.com/htmx.org@0.0.4"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <h1> <a href='{{ url_for('get_dashboard') }}'>Announce</a></h1>
    Logged in as: {{ request.user.tg_handle if not request.user.is_anon else '---' }} 
  {% block content %}
  {% endblock %}
  </body>
</html>
