{% extends 'base.html' %}
{% block content %}
<h2>Event: {{event.group.name}} | {{ event.title }}</h2>

{% for action in actions %}
  {% if event.allow_action(action.slug) %}
  <a href='{{ url_for('get_action', action=action.slug, eventid=event.id)}}'>
    <button>{{ action.name }}</button></a>
  {% else %}
    <button disabled>G-calendar</button>
  {% endif %}
{% endfor %}
<form method='post'>
  <fieldset>
    <label>Title</label>
    <input name='title' value='{{ event.title }}'>
  </fieldset>
  <fieldset>
    <label>Date</label>
    <input name='date' type='date' value='{{event.date}}' >
  </fieldset>
  <fieldset>
    <label>Start time</label>
    <input name='start' type='time' value='{{ event.start_time }}'>
  </fieldset>
  <fieldset>
    <label>End time</label>
    <input name='end' type='time' value='{{ event.end_time }}'>
  </fieldset>
  <fieldset>
    <label>Description</label>
    <textarea name='description' rows=10>{{ event.description }}</textarea>
  </fieldset>
  <fieldset>
    <label>Poster url</label>
    <input name='image_url' value='{{ event.image_url }}'>
    {% if event.image_url %}
    <img src='{{ event.image_url }}' alt=''>
    {% endif %}
  </fieldset>
  <input type='submit' value='Update event details'>
</form>
{% endblock %}
